.ingredient-delegate-main-container{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: center;
    border-radius: 16px;
    background-color: #f5f3f3;
    padding: 0 20px;
    width: 100%;
}

.ingredient-delegate-opened{
}

.ingredient-delegate-container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: repeat(1, 60px);
}

.ingredient-delegate-text{
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 700;
    color: var(--foreground);
}

.recipe-delegate-table-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}