.labeled-field-container{
    display: flex;
    flex-direction: column;
    margin-right: 4vw;
    width: 100%;
}

.input-border-container{
    height: 50px;
    border: 3px solid var(--foreground);
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.input-border-container:focus-within {
    border: 3px solid var(--borders);
}

.input{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0 10px;
    flex: 1;
    font-size: 16px;
    font-family: 'Roboto Condensed';
    font-weight: 400;
}

.password-visibility-button{
    height: 100%;
    width: 30px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-label{
    padding-left: 5px;
    padding-bottom: 2px;
    font-size: 14px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
}

.input-error-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--error);
    padding: 4px;
}

.input-error-label{
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    margin-left: 5px;
}

